# **CS1101 Assignment - 2**

## Question 1:

Modify the program given below such that it prints a serial number (starting from 1) followed by your name, 15 times in the terminal.

In [6]:
x = "Priyanshu Mahato"
for i in range (1,16):
    print('%s %s' %(i,x))

1 Priyanshu Mahato
2 Priyanshu Mahato
3 Priyanshu Mahato
4 Priyanshu Mahato
5 Priyanshu Mahato
6 Priyanshu Mahato
7 Priyanshu Mahato
8 Priyanshu Mahato
9 Priyanshu Mahato
10 Priyanshu Mahato
11 Priyanshu Mahato
12 Priyanshu Mahato
13 Priyanshu Mahato
14 Priyanshu Mahato
15 Priyanshu Mahato

## Question 2:

Modify the program which is the solution to Q1 above, such that the printing (a serial number and your name) happen only if the serial number is an integer multiple of 3.

In [7]:
x = "Priyanshu Mahato"
for i in range (1,16):
    if(i%3==0):
        print('%s %s' %(i,x))

3 Priyanshu Mahato
6 Priyanshu Mahato
9 Priyanshu Mahato
12 Priyanshu Mahato
15 Priyanshu Mahato

## Question 3:

Write a program which stores the string “abcdefghijkl” in a variable and then prints the following sequence of strings using a for loop:

abcdefghijkl

bcdefghijkl

cdefghijkl

defghijkl

efghijkl

fghijkl

ghijkl

hijkl

ijkl

jkl

kl

l

In [15]:
x = 'abcdefghijkl'
y = list(x)
for i in range (0, len(y)):
    for j in range (i, len(y)):
        print(y[j], end='')
    print()

abcdefghijkl
bcdefghijkl
cdefghijkl
defghijkl
efghijkl
fghijkl
ghijkl
hijkl
ijkl
jkl
kl
l

# Question 4:

Write a program which finds the largest item in a given numerical list without using the `max` command. To test your program, use the following lists:

[0, 3, 1, 2, 8, 9, 0, 4, 7] and [0, -1, -3, -4, 3, 8, 9, 11, -2]

In [17]:
x = [0, 3, 1, 2, 8, 9, 0, 4, 7]
y = [0, -1, -3, -4, 3, 8, 9, 11, -2]
def maxlist(e):
    max=e[0]
    for i in range (0,len(e)):
        if(e[i]>max):
            max=e[i]
    print("Maximum =", max)
maxlist(x)
maxlist(y)

Maximum = 9
Maximum = 11

## Question 5:

Write a program which finds the largest and the smallest items and their positions in a given list, first *without* using the `max` and `min` commands. Also write the same program using the `max` and `min` commands and verify that both codes give identical results. To test your program, use the following lists: [0, 3, 1, 2, 8, 9, 0, 4, 7] and [0, -1, -3, -4, 3, 8, 9, 11, -2]

In [21]:
x = [0, 3, 1, 2, 8, 9, 0, 4, 7]
y = [0, -1, -3, -4, 3, 8, 9, 11, -2]
def maxlist(e):
    max=e[0]
    min=e[0]
    maxpos=0
    minpos=0
    for i in range (0,len(e)):
        if(e[i]>max):
            max=e[i]
            maxpos=i
        if(e[i]<min):
            min=e[i]
            minpos=i
    print("Maximum =", max)
    print("Position of Maximum =", maxpos+1)
    print("Minimum =", min)
    print("Position of Minimum =", minpos+1)
    
maxlist(x)
maxlist(y)
print('Now, using in-built functions:')
print("Maximum =", max(x))
print("Position of Maximum =", x.index(max(x))+1)
print("Minimum =", min(x))
print("Position of Minimum =", x.index(min(x))+1)
print("Maximum =", max(y))
print("Position of Maximum =", y.index(max(y))+1)
print("Minimum =", min(y))
print("Position of Minimum =", y.index(min(y))+1)

Maximum = 9
Position of Maximum = 6
Minimum = 0
Position of Minimum = 1
Maximum = 11
Position of Maximum = 8
Minimum = -4
Position of Minimum = 4
Now, using in-built functions:
Maximum = 9
Position of Maximum = 6
Minimum = 0
Position of Minimum = 1
Maximum = 11
Position of Maximum = 8
Minimum = -4
Position of Minimum = 4

## Question 6:

Read **name** (e.g. kripa), **year of joining** (e.g. 2020), **course id** (e.g. MS), **student id** (e.g. 1234) and **generate the IISER email id** in the format `name-lastTwoDigitsOfYearOfJoining-courseId-studentId@iiserkol.ac.in`. You must first store these fields (e.g. name) in a list and use `join` operation to convert the list to a string from which the email id will be generated.

In [25]:
name = input("Enter your name: ")
yoj = input("Enter your year of joining: ")
SID = input("Enter Student ID: ")
CID = input("Enter Course ID: ")
info = [name.strip().lower(), yoj[len(yoj)-2:len(yoj)], CID, SID]
print('-'.join(info), '@iiserkol.ac.in', sep='')

Enter your name: Priyanshu
Enter your year of joining: 2021
Enter Student ID: pm21
Enter Course ID: ms
priyanshu-21-ms-pm21@iiserkol.ac.in

## Question 7:

Consider three strings str1 = '123', str2 = '234' and str3 = '456' and print the sum, product and average of the numbers in the strings.

In [31]:
str1 = '123'
str2 = '234'
str3 = '456'
print(int(str1)+int(str2)+int(str3))
print(int(str1)*int(str2)*int(str3))
print((int(str1)+int(str2)+int(str3))/3)

813
13124592
271.0

## Question 8:

Input five numbers using a for loop and print the sum of these numbers.

In [34]:
sum = 0
for i in range (0,5):
    x = int(input("Enter a number: "))
    sum = sum + x
print('Sum =', sum)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Sum = 15

## Question 9:

a) Take the marks of 10 students in a subject as input from the user and store them in a list.

b) Sort the marks in descending order.

c) Give a grace mark of 5 to those marks which are less than 45.

d) Considering 50 as the pass marks, count the number of cases with failing marks.

In [42]:
# a
marks = []
for i in range (0,10):
    x = int(input("Enter your marks: "))
    marks.append(x)
print(marks)

Enter your marks: 50
Enter your marks: 30
Enter your marks: 44
Enter your marks: 32
Enter your marks: 67
Enter your marks: 100
Enter your marks: 48
Enter your marks: 56
Enter your marks: 78
Enter your marks: 20
[50, 30, 44, 32, 67, 100, 48, 56, 78, 20]

In [43]:
# b
marks.sort(reverse=True)
print("The marks after sorting in descending order: ", marks)

The marks after sorting in descending order:  [100, 78, 67, 56, 50, 48, 44, 32, 30, 20]

In [44]:
# c
for i in range (0,10):
    if marks[i]<45 :
        marks[i] = marks[i] + 5
print("After adding grace marks: ", marks)

After adding grace marks:  [100, 78, 67, 56, 50, 48, 49, 37, 35, 25]

In [45]:
# d:
c = 0
for i in range (0,10):
    if marks[i]<50:
        c+=1
print("No. of failing cases: ", c)

No. of failing cases:  5

## Question 10:

Take 10 integer numbers from users as input and store them in a list of numbers.

a) Print the entire list.

b) Sort the list and print.

c) Remove the maximum and minimum value from the list and then print the updated list.

In [49]:
# a
l = []
for i in range (0,10):
    x = int(input("Enter an integer: "))
    l.append(x)
print(l)

Enter an integer: 45
Enter an integer: 8
Enter an integer: 26
Enter an integer: 2
Enter an integer: 063
Enter an integer: 98
Enter an integer: 4
Enter an integer: 87
Enter an integer: 12
Enter an integer: 52
[45, 8, 26, 2, 63, 98, 4, 87, 12, 52]

In [50]:
# b
l.sort()
print(l)

[2, 4, 8, 12, 26, 45, 52, 63, 87, 98]

In [51]:
l.remove(max(l))
l.remove(min(l))
print(l)

[4, 8, 12, 26, 45, 52, 63, 87]

# Challenge Questions

## Question 1:

Input your IISER email in format name-rollno@iiserkol.ac.in, extract the name, roll no 
using split() and print them.

In [57]:
x = input("Enter IISER email ID: ")
x = x.replace('@iiserkol.ac.in', '')
y = x.split('-')
print("Name: ", y[0].title())
print("Roll No.: ", y[1])

Enter IISER email ID: priyanshu-pm21ms002@iiserkol.ac.in
Name:  Priyanshu
Roll No.:  pm21ms002

## Question 2:

Take your full name as input and make an abbreviation of your name based on the initials of the names.

In [60]:
name = input("Enter your name: ")
name.strip()
namelist = list(name)
print("Abbreviation of name: %s.%s." %(namelist[0], namelist[namelist.index(' ')+1]))

Enter your name: Priyanshu Mahato
Abbreviation of name: P.M.