# Question 1:

(a) Type python to start a python shell

(b) Create a list of integers from 0 to 9 and store the list in variable x.

In [55]:
x=[] #initialising variable x to store a list
for i in range(0,10):
    x.append(i)
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

(c) Create a list of integers from 3 to 12 and store the list in variable y

In [56]:
y=[] #initialising variable y
for i in range(3,13):
    y.append(i)
print(y)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

(d) Using a single print command, print the list in x in reverse

In [57]:
print(list(reversed(x)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

(e) Using a single print command, print the list of odd entries in x and then the list of even entries in x

In [58]:
print(list(filter(lambda z: (z%2 != 0), x)))

[1, 3, 5, 7, 9]

In [59]:
print(list(filter(lambda z: (z%2 == 0), x)))

[0, 2, 4, 6, 8]

(f) Check whether the 4th item of x is same as the 1st item of y by extracting those items

In [60]:
x4 = x[3]
y1 = y[0]
print(x4 == y1)

True

(g) Check whether the number 10 is in the list x

In [61]:
for i in range (0,10):
    if(x[i]==10):
        print(True)
        break
else:
    print(False)

False

(h) Check whether the number 7 is in the list y

In [62]:
for i in range (0,10):
    if(y[i]==7):
        print(True)
        break
else:
    print(False)

True

(i) Get a combined list (added) of the items of x and y

In [63]:
x1 = x
for i in range (0,10):
    x1.append(y[i])
print(x1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

(j) After reversing the list x, create a combined list that consists of the reversed x and original y. Find the location of the maximum and minimum numbers in this combined list.

In [77]:
x=[]
for i in range(0,10):
    x.append(i)
x1 = list(reversed(x))
for i in range(0,10):
    x1.append(y[i])
max = x1[0]
min = x1[0]
print(x1)
for i in range (0, len(x1)):
    if (x1[i] >= max):
        max = x1[i]
        max_index = i
    if (x1[i] <= min):
        min = x1[i]
        min_index = i
print(max_index+1)
print(min_index+1)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
20
10

# Question 2:

## Strings are Lists

(a) Store a string: “The quick brown fox jumps over the lazy dog” in a variable x

In [83]:
x = "The quick brown fox jumps over the lazy dog"

(b) Check whether the word fox is in this sentence

In [84]:
print("fox" in x)

True

(c) Print the sentence in reverse order

In [85]:
print("".join(reversed(x)))

god yzal eht revo spmuj xof nworb kciuq ehT

(d) Print every third character of the above sentence

In [94]:
x1 = x.split()
x2 = list(x)
for i in range(0,len(x2)):
    if ((i+1)%3 == 0) :
        print(x2[i])

e
u
k
r
n
o
j
p
o
r
h
l
y
o

(e) Print every fourth character of the above sentence

In [95]:
x1 = x.split()
x2 = list(x)
for i in range(0,len(x2)):
    if ((i+1)%4 == 0) :
        print(x2[i])

c
r


p
v
t
l

(f) Find how many characters are there in the sentence (including spaces)

In [96]:
print(len(x2))

43

(g) Print every second character of the sentence starting from the last character in reverse order

In [101]:
rev = "".join(reversed(x))
rev_char_list = list(rev)
print(rev_char_list)
for i in range(1,len(rev_char_list)):
    if ((i+1)%2 == 0) :
        print(rev_char_list[i])

['g', 'o', 'd', ' ', 'y', 'z', 'a', 'l', ' ', 'e', 'h', 't', ' ', 'r', 'e', 'v', 'o', ' ', 's', 'p', 'm', 'u', 'j', ' ', 'x', 'o', 'f', ' ', 'n', 'w', 'o', 'r', 'b', ' ', 'k', 'c', 'i', 'u', 'q', ' ', 'e', 'h', 'T']
o

z
l
e
t
r
v

p
u

o

w
r

c
u

h

(h) Store the first four character of x in a variable y and the last three letters in a variable z

In [107]:
y = (x[:4])
z = x[len(x)-3:len(x)]
print(y+z)

The dog

(i) Check the output of y*10

In [108]:
print(y*10)

The The The The The The The The The The

# Question 3:

## Numbers

(a) Store 1.2 in a variable x

(b) Store 12 in a variable y

(c) Store 24 in a variable z

(d) Check the output of x/y, y/z and z/x. Are all of them float?

In [112]:
x = 1.2
y = 12
z = 24
print(x/y)
print(type(x/y))
print(y/z)
print(type(y/z))
print(z/x)
print(type(z/x))
print('Yes, they all are of data type = Float')

0.09999999999999999
<class 'float'>
0.5
<class 'float'>
20.0
<class 'float'>
Yes, they all are of data type = Float

(e) Find 7th power of 3

In [113]:
print(3**7)

2187

(f) Check whether 2.0^3 is equal to 8.0

In [114]:
print(2.0**3 == 8.0)

True

(g) Compare outputs of y+z and str(y)+str(z)

In [117]:
print(y+z) #Numerical Addition
print(str(y)+str(z)) #String Concatenation

36
1224

# Question 4:

## Miscellaneous

a) Print 'Hello World' on the screen

b) Add a comment to the above program

In [119]:
print('\'Hello World\'') #this program prints 'Hello World' on the screen

'Hello World'

c) Store your name (e.g. Tintin), age (e.g. 20) and roll number (e.g. 21MS1234) in three variables and print them separately and also together like Hello! My name is Tintin. I am 20 years old. My roll number is 21MS1234 using these variables.

In [122]:
name = 'Priyanshu Mahato'
age = 18
roll = '21MS002'

In [123]:
print(name)
print(age)
print(roll)

Priyanshu Mahato
18
21MS002

In [126]:
print('Hello! My name is %s. I am %s years old. My roll number is %s.' %(name, age, roll))

Hello! My name is Priyanshu Mahato. I am 18 years old. My roll number is 21MS002.

d) Take two number strings as input and print their sum

In [130]:
x = str(input("Enter a number: "))
y = str(input("Enter a number: "))
print('Sum =', int(x)+int(y) )

Enter a number: 10
Enter a number: 20
Sum = 30

e) Take two integers as input and print their sum

In [131]:
x = int(input("Enter a number: "))
y = int(input("Enter a number: "))
print('Sum =', x+y)

Enter a number: 10
Enter a number: 20
Sum = 30

f) Use print() to print the statement -- It's good to learn Python

In [132]:
print('It\'s good to learn Python')

It's good to learn Python

g) Use print() to print the statement -- The man asked, "Where to meet you?" I said, "Well, use Google Meet!"

In [135]:
print(r'The man asked, "Where to meet you?" I said, "Well, use Google Meet!"')

The man asked, "Where to meet you?" I said, "Well, use Google Meet!"

h) Print the data type of a variable

In [141]:
x=54
print(type(x))

<class 'int'>

i) Take your name (e.g. Feluda) in the variable 'Name' as input and print My name is Feluda using Name.

In [143]:
name = str(input('Enter your name: '))
print('My name is %s.' %(name))

Enter your name: Priyanshu
My name is Priyanshu.

j) Take name (e.g. Sherlock), age (e.g. 40) and gender (e.g. Male) as input in variables and print Good Morning Sherlock! You are a Male of 40 years. using these variables

In [144]:
name = input("Enter name: ")
age = int(input("Enter age: "))
gender = input("Enter gender: ")
print("Good Morning %s! You are a %s of %s years." %(name, gender, age))

Enter name: Priyanshu
Enter age: 18
Enter gender: Male
Good Morning Priyanshu! You are a Male of 18 years.